@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #141414;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Pretendard Variable", Pretendard, "Bebas Neue";
}

html {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  overflow-x: hidden;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clear: rect(1px, 1px, 1px, 1px);
}

body {
  height: 100vh;
}

.detail__container {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 8rem 9.7rem;
}

.detail__movie-info {
  display: flex;
  flex-wrap: wrap;
  gap: 5.4rem;
}

.detail__movie-info-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.detail__movie-info-inner h2 {
  font-size: 8rem;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(90deg, #f85858, #fee098);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.detail__movie-info-inner p {
  width: 90%;
  color: #ffffff;
  font-size: 1.9rem;
  line-height: 150%;
  margin-bottom: 3.8rem;
}
.light .detail__movie-info-inner * {
  color: #141414;
}

.btn-goback {
  position: absolute;
  top: 0rem;
  right: 9.7rem;
  width: 3rem;
  aspect-ratio: 1;
  background: url("/images/ico_backspace.svg") no-repeat;
}
.btn-goback:hover {
  background: url("/images/ico_backspace_primary.svg") no-repeat;
}
.light .btn-goback {
  background: url("/images/ico_backspace_black.svg") no-repeat;
}
.light .btn-goback:hover {
  background: url("/images/ico_backspace_primary.svg") no-repeat;
}

.btn-bookmark {
  position: absolute;
  top: 0rem;
  right: 16rem;
  width: 3rem;
  aspect-ratio: 1;
}
.btn-bookmark:hover {
  width: 3rem;
  aspect-ratio: 1;
  background: url("/images/ico_bookmark_primary.svg") no-repeat center;
  background-size: cover;
}

.bookmarked {
  width: 3rem;
  aspect-ratio: 1;
  background: url("/images/ico_bookmark_filled.svg") no-repeat center;
  background-size: cover;
}

.not-bookmarked {
  width: 3rem;
  aspect-ratio: 1;
  background: url("/images/ico_bookmark.svg") no-repeat center;
  background-size: cover;
}
.light .not-bookmarked {
  width: 3rem;
  aspect-ratio: 1;
  background: url("/images/ico_bookmark_black.svg") no-repeat center;
  background-size: cover;
}
.light .not-bookmarked:hover {
  width: 3rem;
  aspect-ratio: 1;
  background: url("/images/ico_bookmark_primary.svg") no-repeat center;
  background-size: cover;
}

.btn-share {
  position: absolute;
  top: 0rem;
  right: 22rem;
  width: 3rem;
  aspect-ratio: 1;
  background: url("/images/ico_share.svg") no-repeat;
}
.btn-share:hover {
  background: url("/images/ico_share_primary.svg") no-repeat;
}
.light .btn-share {
  background: url("/images/ico_share_black.svg") no-repeat;
}
.light .btn-share:hover {
  background: url("/images/ico_share_primary.svg") no-repeat;
}

.detail__genre-area {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.genre__item {
  width: -moz-min-content;
  width: min-content;
  border: 1px solid #ffffff;
  padding: 0.4rem;
  border-radius: 5rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  white-space: nowrap;
}
.light .genre__item {
  border: 1px solid #141414;
}

.info__sub-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.35rem;
}

.detail__movie-info-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.info__sub-title {
  display: inline-block;
  width: 13rem;
  color: #aaaaaa;
  font-size: 1.9rem;
}

.info__sub-desc {
  color: #ffffff;
  font-size: 1.9rem;
}

.info__time-area {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.detail_movie-info-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.img__wrapper {
  display: flex;
  width: 30rem;
  height: 44rem;
}
.img__wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5rem 15rem;
  border: 1px solid #ffffff;
  padding: 0.5rem;
  border-radius: 1rem;
}
.light .search-bar-wrapper {
  border: 1px solid #141414;
}

.search-bar__input {
  line-height: 3rem;
  width: 100rem;
  font-size: 2rem;
  text-indent: 2rem;
  background: none;
  border: none;
  color: #fee098;
}
.search-bar__input:focus {
  outline: none;
}
.light .search-bar__input {
  color: #f85858;
}

.search-bar__btn {
  padding-right: 2rem;
}
.search-bar__btn svg {
  fill: #ffffff;
  width: 2rem;
  height: 2rem;
}
.light .search-bar__btn svg {
  fill: #141414;
}

.highlight {
  color: #fee098;
}

.search-result {
  margin-bottom: 5rem;
}

.search-result__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1rem;
  margin-left: 3rem;
}
.light .search-result__title {
  color: #141414;
}

.movie-card-noresult {
  grid-column: 1/-1;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

.card-noresult__text {
  color: #ffffff;
  font-size: 3rem;
}
.light .card-noresult__text {
  color: #141414;
}
.card-noresult__text span {
  color: #f85858;
}

.search-result__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 22rem));
}

.movie-cardimgcontainer img {
  width: 100%;
  height: auto;
}

hr {
  margin: 3rem;
}

.bookmark__title {
  font-size: 2.4rem;
  padding: 3rem 6rem;
  color: #ffffff;
}

.bookmark__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.slide__btn {
  width: 16rem;
  background-color: #353534;
  color: #ffffff;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.slide__btn span {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1.6rem;
}
.slide__btn span::after {
  position: absolute;
  left: 12rem;
  top: 0.1rem;
  content: "";
  background: url("../images/btn-arrow.svg") no-repeat;
  width: 3rem;
  height: 2rem;
}
.light .slide__btn span {
  color: #ffffff;
}
.slide__btn:hover {
  background-color: #f85858;
}
.light .slide__btn {
  background-color: #f85858;
}
.light .slide__btn:hover {
  background-color: #353534;
}

.topBtn {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 10;
  background-color: #ffffff;
  border: 0.2rem solid #f8f8f8;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #141414;
}
.topBtn:hover {
  color: #ffffff;
  background-color: #141414;
}
.light .topBtn {
  background-color: #f85858;
  color: #ffffff;
}

.lightBtn {
  position: fixed;
  bottom: 9rem;
  right: 4rem;
  width: 5rem;
  height: 5rem;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 10;
}

.dark {
  background-color: #141414;
}

.light {
  background-color: #ffffff;
}

.new__title,
.classic__title,
.recommend__title {
  font-size: 2.4rem;
  padding: 3rem 3rem;
  color: #ffffff;
}
.light .new__title,
.light .classic__title,
.light .recommend__title {
  color: #141414;
}

.light .new__container *,
.light .classic__container *,
.light .recommend__container * {
  color: #141414;
}

.light .new__container *,
.light .classic__container *,
.light .recommend__container * {
  color: #141414;
}

.recommend__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.movie-card {
  margin-left: 5rem;
  padding-bottom: 2.5rem;
  transition: transform 0.2s;
}
.movie-card img {
  height: 25rem;
  margin-top: 2rem;
}
.movie-card:hover {
  transform: scale(1.1);
}
.light .movie-card * {
  color: #141414;
}

.movie-card__imgcontainer {
  height: 30rem;
}

.movie-title {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
}

.post-info {
  margin-top: 1rem;
}

.movie-year {
  font-size: 1.4rem;
  color: #f8f8f8;
}

.movie-runtime {
  position: relative;
  display: inline-block;
  min-width: 4.5rem;
  font-size: 1.4rem;
  color: #f8f8f8;
  padding-left: 3rem;
}
.movie-runtime::before {
  position: absolute;
  top: 0.5rem;
  right: 3.5rem;
  content: "";
  background: url("../images/bgDot.svg") no-repeat;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.movie-rating {
  position: relative;
  font-size: 1.4rem;
  color: #f8f8f8;
  padding-left: 3rem;
}
.movie-rating::before {
  position: absolute;
  top: 0.1rem;
  right: 2.5rem;
  content: "⭐️";
}

.loading {
  margin: 10rem auto;
  width: 10rem;
  height: 10rem;
  z-index: 999;
}

.loading__wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5019607843);
  left: 0;
  top: 0;
  z-index: 10;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  padding: 0 5rem;
  height: 15rem;
  background-color: #141414;
}

.header__logo-container {
  width: 8rem;
  height: 12rem;
}
.header__logo-container img {
  width: 100%;
}

.header__search {
  display: flex;
  position: relative;
  width: 0;
  height: 5rem;
  background: linear-gradient(90deg, #f85858, #fee098) no-repeat 0 bottom/100% 0.2rem;
}

.header__search-btn {
  width: 3rem;
  height: 3rem;
  padding-bottom: 1rem;
  position: absolute;
  color: #aaaaaa;
  right: 1rem;
  transition: all 0.2s;
  z-index: 10;
  background: url("/images/ico_search.svg") no-repeat;
  background-size: cover;
}

.header__cancel-btn {
  width: 3rem;
  height: 3rem;
  padding-top: 0.5rem;
  display: block;
  z-index: 100;
  background: url("/images/ico_cancel.svg") no-repeat;
  background-size: cover;
}

.header__input {
  display: none;
  font-size: 3rem;
  color: #fee098;
  width: 20rem;
  position: relative;
  background: none;
  z-index: 5;
  line-height: 3rem;
  caret-color: #fee098;
  text-align: left;
  margin-left: 4rem;
  border: none;
}
.header__input:focus {
  outline: none;
}

.header__input:focus + .header__search-submit,
.header__input:valid + .header__search-submit {
  font-size: 1.6rem;
  right: 27rem;
  color: #aaaaaa;
  font-weight: bold;
}

.header__search:focus-within {
  width: 30rem;
}

.header__search-submit {
  visibility: hidden;
  width: 3rem;
  height: 3rem;
  color: #ffffff;
  padding-bottom: 2rem;
  background-image: url("/images/ico_search.svg");
  background-size: cover;
  position: absolute;
  color: #aaaaaa;
  right: 1rem;
  bottom: 2rem;
  transition: all 0.2s;
}

.light header {
  background-color: #ffffff;
}

.header__btn-bookmark {
  display: inline-block;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
}
.header__btn-bookmark span {
  color: #cecece;
  font-size: 2rem;
}
.header__btn-bookmark span:hover {
  color: #b8b8b8;
}

.footer {
  display: inline-flex;
  margin-left: 10rem;
  margin-right: 10rem;
}

.footer-link__list {
  margin-top: 5rem;
}

.footer-link__icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url("/images/ico_youtube.svg");
  background-size: cover;
  background-position: center;
}
.light .footer-link__icon {
  background-image: url("/images/ico_youtube_lightmode.svg");
  width: 3rem;
}

.footer-link__icon2 {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url("/images/ico_github.svg");
  background-size: cover;
}
.light .footer-link__icon2 {
  background-image: url("/images/ico_github_lightmode.svg");
  width: 3rem;
}

.footer-content-wrapper {
  padding: 5rem;
}
.light .footer-content-wrapper * {
  color: #141414;
}

.footer-content__text {
  color: #ffffff;
  padding: 0.5rem;
}

.slide__container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
  position: relative;
  isolation: isolate;
}
.slide__container::after {
  content: "";
  position: absolute;
  background: #141414;
  z-index: -1;
  inset: 0;
  opacity: 0.6;
}
.light .slide__container {
  background: url("/images/bg-light.jpg");
}
.light .slide__container::after {
  content: "";
  position: absolute;
  background: #ffffff;
  z-index: -1;
  inset: 0;
  opacity: 0.85;
}

.slide__content {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.light .slide__content * {
  color: #141414;
}

.slide__subtitle {
  color: #ffffff;
  font-size: 4.8rem;
  font-family: "Bebas Neue", sans-serif;
}

.slide__title {
  font-size: 8rem;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(90deg, #f85858, #fee098);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide__show {
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.slide__poster {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide__poster img {
  width: 80%;
  max-width: 40rem;
  border-radius: 1rem;
}

.swiper-wrapper {
  margin-top: 3rem;
  height: 40rem;
  position: relative;
}

.new__swiper-btn-prev,
.classic__swiper-btn-prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);
  width: 5rem;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 10;
  background-color: rgba(141, 141, 141, 0.2);
}
.new__swiper-btn-prev img,
.classic__swiper-btn-prev img {
  width: 5rem;
}
.new__swiper-btn-prev img:hover,
.classic__swiper-btn-prev img:hover {
  transform: scale(1.2);
}

.new__swiper-btn-next,
.classic__swiper-btn-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  width: 5rem;
  height: 100%;
  background-color: rgba(141, 141, 141, 0.2);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.new__swiper-btn-next img,
.classic__swiper-btn-next img {
  width: 5rem;
}
.new__swiper-btn-next img:hover,
.classic__swiper-btn-next img:hover {
  transform: scale(1.2);
}

.swiper-wrapper:hover .new__swiper-btn-prev,
.swiper-wrapper:hover .new__swiper-btn-next {
  opacity: 1;
}

.swiper-wrapper:hover .classic__swiper-btn-prev,
.swiper-wrapper:hover .classic__swiper-btn-next {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
}/*# sourceMappingURL=index.css.map */