@use "../abstracts/" as *;

.slide__btn {
  width: 16rem;
  background-color: $btnGray;
  color: $white;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  span {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1.6rem;
    &::after {
      position: absolute;
      left: 12rem;
      top: 0.1rem;
      content: "";
      background: url("../images/btn-arrow.svg") no-repeat;
      width: 3rem;
      height: 2rem;
    }
    .light & {
      color: $white;
    }
  }

  &:hover {
    background-color: $primary;
  }

  .light & {
    background-color: $primary;

    &:hover {
      background-color: $btnGray;
    }
  }
}

.topBtn {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 10;
  background-color: $white;
  border: 0.2rem solid $fontGray10;
  outline: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: $bgBlack;

  &:hover {
    color: $white;
    background-color: $bgBlack;
  }
  .light & {
    background-color: $primary;
    color: $white;
  }
}

.lightBtn {
  position: fixed;
  bottom: 9rem;
  right: 4rem;
  width: 5rem;
  height: 5rem;
  background-color: $white;
  border-radius: 50%;
  z-index: 10;
}

.dark {
  background-color: $bgBlack;
}

.light {
  background-color: $white;
}
