@use "../abstracts/variables" as *;

.header {
  display: flex;
  align-items: center;
  padding: 0 5rem;
  justify-content: space-between;
  height: 15rem;
  background-color: $bgBlack;
}

.header__logo-container {
  width: 11rem;
  height: 15rem;
  & img {
    width: 100%;
  }
}

.header__search-icon {
  padding-bottom: 1rem;
  position: absolute;
  color: #aaa;
  right: 1rem;
  width: 4rem;
  transition: all 0.3s;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.header__cancel-icon {
  padding-top: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: none;
  z-index: 100;

  &:hover {
    cursor: pointer;
  }
}

.header__input {
  display: none;
  font-size: 30px;
  color: $secondary;
  width: 25rem;
  position: relative;
  background: none;
  z-index: 5;
  line-height: 3rem;
  caret-color: $secondary;
  text-align: left;
  margin-left: 5rem;
  border: none;
  &:focus {
    outline: none;
  }
}

//Transition 부분 (아이콘)
.header__input:focus + .header__search-btn,
.header__input:valid + .header__search-btn {
  font-size: 1.6rem;
  right: 27rem;
  color: #666;
  font-weight: bold;
}

.header__search {
  display: flex;
  position: relative;
  width: 31rem;
  height: 5.1rem;
}

.header__search-form {
  clip-path: inset(0 0 0 100%);
  width: 30rem;
  background: linear-gradient(90deg, #f85858, #fee098) no-repeat 0 bottom / 100%
    0.2rem;
  transition: all 0.3s;
  z-index: 1;
}

// Transition 부분 (수평선)
.header__search-form:focus-within {
  clip-path: inset(0 0 0 0);
}

.header__search-btn {
  visibility: hidden;
  position: absolute;
  width: 4rem;
  height: 4rem;
  color: white;
  padding: 2rem;
  background-image: url("/src/images/ico_search.svg");
  background-size: cover;
  color: #aaa;
  right: 1rem;
  width: 4rem;
  bottom: 1.1rem;
  transition: all 0.3s;
}

@keyframes reveal {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
