@forward "./button";
@forward "./recommend";
@forward "./header";

@use "../abstracts/variables" as *;

.section-slide {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url('../images/bg.png') no-repeat center;
    background-size: cover;
    
    position: relative;
    isolation: isolate;
    &::after {
        content: '';
        position: absolute;
        background: $bgBlack;
        z-index: -1;
        inset: 0;
        opacity: 0.9;
    }

}

.section-slide__content {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-slide__subtitle {
    color: #ffffff;
    font-size: 48px;
    font-family: 'Bebas Neue', sans-serif;
}
.section-slide__title {
    font-size: 80px;
    font-family: 'Bebas Neue', sans-serif;
    /* margin-bottom: 20px; */
    background: linear-gradient(90deg, #F85858, #FEE098);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-slide__show {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.section-slide__poster {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-slide__poster img {
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}
