@use "../abstracts/variables" as *;

.recommend {
    background-color: $bgBlack;
}

.recommend__title {
    font-size: 2.4rem;
    padding: 3rem 6rem;
    color: $white;
}

.recommend__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    // justify-content: space-evenly;
}

.movie-card {
    padding-left: 5rem;
    padding-bottom: 2.5rem;
    transition: transform 0.3s;
}

.swiper-wrapper {
    position: relative;
}

.swiper-button-prev{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 1rem;
    transform: translate(0, -50%);
    width: 5rem;
    height: 100%;
    background-color: #ffffff;
    opacity: 10%;
    color: #ffffff;
    img{
        width: 5rem;
        color: $primary;
    }
}

.swiper-button-next{
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    width: 5rem;
    height: 100%;
    background-color: #ffffff;
    opacity: 10%;
    img{
        width: 5rem;
        color: $primary;
    }

}

.swiper-button-prev2{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 1rem;
    transform: translate(0, -50%);
    width: 5rem;
    height: 100%;
    background-color: #ffffff;
    opacity: 10%;
    img{
        width: 5rem;
        color: $primary;
    }

}

.swiper-button-next2{
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 1rem;
    transform: translate(0, -50%);
    width: 5rem;
    height: 100%;
    background-color: #ffffff;
    opacity: 10%;
    img{
        width: 5rem;
        color: $primary;
    }

}

// .swiper-button-prev::after {
//     display: block;
//     top: 3rem;
//     left: 0;
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: red;
// }

// .swiper-button-next::after {
//     display: block;
//     top: 0;
//     right: 0;
//     position: absolute;
//     width: 50px;
//     height: 50px;
//     background-color: red;
// }

.swiper-slide img {
    display: block;
    width: 100%;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-card__imgcontainer {
    height: 30rem;
}

.movie-card img {
    // width: 60%;
    height: 25rem;
    /* object-fit: cover; */
}


.movie-title {
    color: $white;
    font-size: 1.8rem;
    font-weight: bold;
}

.post-info {
    margin-top: 1rem;
}

.movie-year {
    font-size: 1.4rem;
    color: $fontGray10;
}

.movie-runtime {
    position: relative;
    display: inline-block;
    min-width: 4.5rem;
    font-size: 1.4rem;
    color: $fontGray10;
    padding-left: 3rem;

    &::before {
        position: absolute;
        top: 0.5rem;
        right: 3.5rem;
        content: "";
        background: url("../images/bgDot.svg") no-repeat;
        display: inline-block;
        width: 2rem;
        height: 2rem;
    }
}