@use "../abstracts/" as *;

.new__title,
.classic__title,
.recommend__title {
  font-size: 2.4rem;
  padding: 3rem 3rem;
  color: $white;
  .light & {
    color: $bgBlack;
  }
}

.new__container,
.classic__container,
.recommend__container {
  .light & * {
    color: $bgBlack;
  }
}

.new__container,
.classic__container,
.recommend__container {
  .light & * {
    color: $bgBlack;
  }
}

.recommend__content {
  @include gridList;
}

.movie-card {
  margin-left: 5rem;
  padding-bottom: 2.5rem;
  transition: transform 0.2s;

  img {
    height: 25rem;
    margin-top: 2rem;
  }

  &:hover {
    transform: scale(1.1);
  }

  .light & * {
    color: $bgBlack;
  }
}

.movie-card__imgcontainer {
  height: 30rem;
}

.movie-title {
  color: $white;
  font-size: 1.8rem;
  font-weight: bold;
}

.post-info {
  margin-top: 1rem;
}

.movie-year {
  font-size: 1.4rem;
  color: $fontGray10;
}

.movie-runtime {
  position: relative;
  display: inline-block;
  min-width: 4.5rem;
  font-size: 1.4rem;
  color: $fontGray10;
  padding-left: 3rem;

  &::before {
    position: absolute;
    top: 0.5rem;
    right: 3.5rem;
    content: "";
    background: url("../images/bgDot.svg") no-repeat;
    display: inline-block;
    width: 2rem;
    height: 2rem;
  }
}

.movie-rating {
  position: relative;
  font-size: 1.4rem;
  color: $fontGray10;
  padding-left: 3rem;
  &::before {
    position: absolute;
    top: 0.1rem;
    right: 2.5rem;
    content: "⭐️";
  }
}
