@use "../abstracts/" as *;

.a11y-hidden {
  @include a11y-hidden;
}

body {
  height: 100vh;
}

.detail__container {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 8rem 9.7rem;
}

.detail__movie-info {
  display: flex;
  flex-wrap: wrap;
  gap: 5.4rem;
}

.detail__movie-info-inner {
  display: flex;
  flex-direction: column;
  flex: 1;

  h1 {
    font-size: 8rem;
    font-family: "Bebas Neue", sans-serif;
    background: $mainGradientcolor;
    @include titleText;
  }

  h2 {
    width: 90%;
    color: $white;
    font-size: 1.9rem;
    line-height: 150%;
    margin-bottom: 3.8rem;
  }

  .light & * {
    color: $bgBlack;
  }
}

.btn-goback {
  position: absolute;
  top: 0rem;
  right: 9.7rem;
  width: 3rem;
  height: 3rem;
  background: url("/src/images/ico_backspace.svg") no-repeat;

  &:hover {
    background: url("/src/images/ico_backspace_primary.svg") no-repeat;
  }
}

.detail__genre-area {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.genre__item {
  width: min-content;
  @include border(all, $white);
  padding: 0.4rem;
  border-radius: 5rem;
  color: $white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  white-space: nowrap;

  .light & {
    @include border(all, $bgBlack);
  }
}

//TODO: 공용 컴포넌트화 예정
.horizontal {
  height: 0.1rem;
  background-color: $horizontalLine;
  margin-bottom: 2.8rem;
  border: 0;
}

.info__sub-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.35rem;
}

.detail__movie-info-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.info__sub-title {
  display: inline-block;
  width: 13rem;

  color: $carouselGray10;
  font-size: 1.9rem;
  // margin-right: 2rem;
}

.info__sub-desc {
  color: $white;
  font-size: 1.9rem;
}

.info__time-area {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.detail_movie-info-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.img__wrapper {
  display: flex;
  width: 30rem;
  height: 44rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
