@use "../abstracts/" as *;

.search-bar-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5rem 15rem;
  @include border(all, $white);
  padding: 0.5rem;
  border-radius: 1rem;
  .light & {
    @include border(all, $bgBlack);
  }
}

.search-bar__input {
  line-height: 3rem;
  width: 100rem;
  font-size: 2rem;
  text-indent: 2rem;
  background: none;
  border: none;
  color: $secondary;
  &:focus {
    outline: none;
  }
  .light & {
    color: $primary;
  }
}

.search-bar__btn {
  padding-right: 2rem;
  & svg {
    fill: $white;
    width: 2rem;
    height: 2rem;
    .light & {
      fill: $bgBlack;
    }
  }
}

.highlight {
  color: $secondary;
}

.search-result {
  margin-bottom: 5rem;
}

.search-result__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: $white;
  padding: 1rem;
  margin-left: 3rem;
  .light & {
    color: $bgBlack;
  }
}

.movie-card-noresult {
  grid-column: 1 / -1;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

.card-noresult__text {
  color: $white;
  font-size: 3rem;
  .light & {
    color: $bgBlack;
  }
  & span {
    color: $primary;
  }
}

.search-result__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 22rem));
}

.movie-cardimgcontainer {
  & img {
    width: 100%;
    height: auto;
  }
}

hr {
  margin: 3rem;
}
