$primary: #F85858;
$secondary: #FEE098;
$bgDot: #FF014C;
$white: #FFFFFF;
$fontGray10: #F8F8F8;
$fontGray20: #CECECE;
$carouselGray10: #AAAAAA;
$carouselGray20: #4D4D4D;
$btnGray: #353534;
$bgUnderline: #FFFFFF66;
$bgBlack: #141414;

$titleFont: "Bebas Neue", sans-serif;