@use "../abstracts/variables" as *;

.footer {
  display: inline-flex;
  margin-left: 10rem;
  margin-right: 10rem;
}

.footer-link__list {
  margin-top: 5rem;
}

.footer-link__icon {
  width: 3rem;
}

.footer-content-wrapper {
  padding: 5rem;
}

.footer-content__text {
  color: $white;
  padding: 0.5rem;
}
