@use "../abstracts/" as *;

.header {
  display: flex;
  align-items: center;
  padding: 0 5rem;
  justify-content: space-between;
  height: 15rem;
  background-color: $bgBlack;
}

.header__logo-container {
  width: 8rem;
  height: 12rem;
  & img {
    width: 100%;
  }
}

.header__search {
  display: flex;
  position: relative;
  width: 0;
  height: 5rem;
  background: $mainGradientcolor no-repeat 0 bottom / 100% 0.2rem;
}

.header__search-icon {
  padding-bottom: 1rem;
  position: absolute;
  color: $carouselGray10;
  right: 1rem;
  width: 3rem;
  transition: all 0.3s;
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
}

.header__cancel-icon {
  padding-top: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: none;
  z-index: 100;
  margin-left: 5rem;
  &:hover {
    cursor: pointer;
  }
}

.header__input {
  display: none;
  font-size: 3rem;
  color: $secondary;
  width: 20rem;
  position: relative;
  background: none;
  z-index: 5;
  line-height: 3rem;
  caret-color: $secondary;
  text-align: left;
  margin-left: 4rem;
  border: none;
  &:focus {
    outline: none;
  }
}

//Transition 부분 (아이콘)
.header__input:focus + .header__search-btn,
.header__input:valid + .header__search-btn {
  font-size: 1.6rem;
  right: 27rem;
  color: $carouselGray10;
  font-weight: bold;
}
// Transition 부분 (수평선)
.header__search:focus-within {
  width: 30rem;
}

.header__search-btn {
  visibility: hidden;
  width: 3rem;
  height: 3rem;
  color: $white;
  padding-bottom: 2rem;
  background-image: url("/src/images/ico_search.svg");
  background-size: cover;
  position: absolute;
  color: $carouselGray10;
  right: 1rem;
  bottom: 2rem;
  transition: all 0.3s;
}
