@use "../abstracts/variables" as *;

.slide__container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url("../images/bg.png") no-repeat center;
  background-size: cover;
  position: relative;
  isolation: isolate;
  &::after {
    content: "";
    position: absolute;
    background: $bgBlack;
    z-index: -1;
    inset: 0;
    opacity: 0.9;
  }
}

.slide__content {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slide__subtitle {
  color: $white;
  font-size: 4.8rem;
  font-family: "Bebas Neue", sans-serif;
}
.slide__title {
  font-size: 8rem;
  font-family: "Bebas Neue", sans-serif;
  background: $mainColor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slide__show {
  color: $white;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.slide__poster {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
    max-width: 40rem;
    border-radius: 1rem;
  }
}

.swiper-wrapper {
  position: relative;
}

.new__swiper-btn-prev,
.classic__swiper-btn-prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);
  width: 5rem;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
  background-color: $swiperBtn;
  img {
    width: 5rem;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.new__swiper-btn-next,
.classic__swiper-btn-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  width: 5rem;
  height: 100%;
  background-color: $swiperBtn;
  opacity: 0;
  transition: opacity 0.3s ease;
  img {
    width: 5rem;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.swiper-wrapper:hover .new__swiper-btn-prev,
.swiper-wrapper:hover .new__swiper-btn-next {
  opacity: 1;
}

.swiper-wrapper:hover .classic__swiper-btn-prev,
.swiper-wrapper:hover .classic__swiper-btn-next {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
