@use "../abstracts/" as *;

.header {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  padding: 0 5rem;
  height: 15rem;
  background-color: $bgBlack;
}

.header__logo-container {
  width: 8rem;
  height: 12rem;
  & img {
    width: 100%;
  }
}

.header__search {
  display: flex;
  position: relative;
  width: 0;
  height: 5rem;
  background: $mainGradientcolor no-repeat 0 bottom / 100% 0.2rem;

  label {
    @include a11y-hidden;
  }
}

.header__search-btn {
  width: 3rem;
  height: 3rem;

  padding-bottom: 1rem;
  position: absolute;
  color: $carouselGray10;
  right: 1rem;
  transition: all 0.2s;
  z-index: 10;

  background: url("/images/ico_search.svg") no-repeat;
  background-size: cover;
}

.header__cancel-btn {
  width: 3rem;
  height: 3rem;

  padding-top: 0.5rem;
  display: block;
  z-index: 100;

  background: url("/images/ico_cancel.svg") no-repeat;
  background-size: cover;
}

.header__input {
  display: none;
  font-size: 3rem;
  color: $secondary;
  width: 20rem;
  position: relative;
  background: none;
  z-index: 5;
  line-height: 3rem;
  caret-color: $secondary;
  text-align: left;
  margin-left: 4rem;
  border: none;
  &:focus {
    outline: none;
  }
}

//Transition 부분 (아이콘)
.header__input:focus + .header__search-submit,
.header__input:valid + .header__search-submit {
  font-size: 1.6rem;
  right: 27rem;
  color: $carouselGray10;
  font-weight: bold;
}
// Transition 부분 (수평선)
.header__search:focus-within {
  width: 30rem;
}

.header__search-submit {
  visibility: hidden;
  width: 3rem;
  height: 3rem;
  color: $white;
  padding-bottom: 2rem;
  background-image: url("/images/ico_search.svg");
  background-size: cover;
  position: absolute;
  color: $carouselGray10;
  right: 1rem;
  bottom: 2rem;
  transition: all 0.2s;
}

.light header {
  background-color: $white;
}

.header__btn-bookmark {
  display: inline-block;
  width: min-content;
  white-space: nowrap;

  span {
    color: $fontGray20;
    font-size: 2rem;

    &:hover {
      color: $fontGray30;
    }
  }
}
