@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Pretendard Variable", Pretendard, "Bebas Neue";
}

html {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  overflow-x: hidden;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clear: rect(1px, 1px, 1px, 1px);
}

body {
  background-color: #141414;
  height: 100vh;
}

.detail__container {
  display: flex;
  overflow: hidden;
  padding: 8rem 9.7rem;
}

.detail__movie-info {
  display: flex;
  flex-wrap: wrap;
  gap: 5.4rem;
}

.detail__movie-info-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.detail__movie-info-inner h1 {
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(90deg, #F85858, #FEE098);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.detail__movie-info-inner h2 {
  width: 90%;
  color: #FFFFFF;
  font-size: 1.9rem;
  line-height: 150%;
  margin-bottom: 3.8rem;
}

.btn-goback {
  position: absolute;
  right: 9.7rem;
  width: 3rem;
  height: 3rem;
  top: 3rem;
  background: url("/src/images/ico_backspace.svg") no-repeat;
}

.detail__genre-area {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.genre__item {
  width: -moz-min-content;
  width: min-content;
  border: 1px solid #FFFFFF;
  padding: 4px;
  border-radius: 5rem;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  white-space: nowrap;
}

.horizontal {
  height: 0.1rem;
  background-color: rgba(80, 74, 121, 0.5019607843);
  margin-bottom: 2.8rem;
  border: 0;
}

.info__sub-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.35rem;
}

.detail__movie-info-content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.info__sub-title {
  display: inline-block;
  width: 13rem;
  color: #AAAAAA;
  font-size: 1.9rem;
}

.info__sub-desc {
  color: #FFFFFF;
  font-size: 1.9rem;
}

.info__time-area {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.detail_movie-info-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.img__wrapper {
  display: flex;
  width: 30rem;
  height: 44rem;
}
.img__wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-recommend {
  background-color: #141414;
}

.section-recommend__title {
  font-size: 24px;
  padding: 30px 60px;
  color: #ffffff;
}

.section-recommend__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.movie-card {
  padding-left: 50px;
  padding-bottom: 25px;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.15);
}

.movie-card__imgcontainer {
  height: 200px;
}

.movie-card img {
  width: 60%;
  /* object-fit: cover; */
}

.movie-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.movie-year {
  font-size: 14px;
  color: #b3b3b3;
}

.movie-runtime {
  position: relative;
  display: inline-block;
  min-width: 45px;
  font-size: 14px;
  color: #F8F8F8;
}
.movie-runtime::before {
  position: absolute;
  top: 5px;
  right: 35px;
  content: "";
  background: url("./images/bgDot.svg") no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
}/*# sourceMappingURL=index.css.map */